*.swp
*.autosave

*.orig
*.org

*.log

*.so*
*.a
*.o

*.pro.user
*-build-*

*.out

usr
include

CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
CTestCostData.txt

nsis*
mxe

