version: 0.0.1.{build}-test

os:
- Windows Server 2012 R2

shallow_clone: true

environment:
  LUAROCKS_VER: 2.2.2
  matrix:
  - LUA_VER: 5.1.5
  - LUA_VER: 5.2.4
  - LUA_VER: 5.2.4
    NOCOMPAT: true
  - LUA_VER: 5.3.0
  - LUA_VER: 5.3.0
    NOCOMPAT: true
  - LJ_VER: 2.0.3
  - LJ_VER: 2.1

platform:
  - x86
  - x64

# this is how to allow failing jobs in the matrix
matrix:
  # LuaJIT crashes on C++ exception on x86
  allow_failures:
    - platform: x86
      LJ_VER: 2.0.3
    - platform: x86
      LJ_VER: 2.1

cache:
  - c:\lua -> appveyor.yml
  - c:\external -> appveyor.yml
  - c:\blast -> appveyor.yml

init:
# Setup Lua development/build environment
# Make VS 2013 command line tools available
- call "C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\vcvarsall.bat" %platform%

install:
# Setup Lua development/build environment
- call .appveyor\install.bat
# Downloand and install blast to c:\blast
- call .appveyor\install_blast.bat
- luarocks install "https://gist.githubusercontent.com/starius/719b194bb34ce612458c/raw/7ab5aa457164c5dccef2c06e0e06ffbed09319df/mediator_lua-1.1.1-0.rockspec"
- luarocks install busted
- luarocks install lua-llthreads2

build_script:
- luarocks make BOOST_INCDIR=c:\Libraries\boost "CFLAGS=/nologo /MD /O2 /EHa"

test_script:
- cd %APPVEYOR_BUILD_FOLDER%
- busted -o .appveyor/busted-print.lua
